h1{
    color:blue;
    background-color: aliceblue;
    text-align:center;
    border: 5px solid green;
    font-size: 60px;
}
h2{
    color:red;
    background-color: purple
    text-align:right;
    font-size: 45px;
}